body {
    background-color: white
}

/*font-family: 'Playfair Display',
serif;
font-family: 'Poppins',
sans-serif;*/
:root {
    --primary-color: #272142;
    --branding-color: #6C63FF;
    --background-color: #F9F7FE;
    --defoult-font-family: 'Poppins', sans-serif;
    --head-font-family: 'Playfair Display', serif;
}

h1,
h2 {
    color: black;
    font-family: var(--head-font-family);
    font-weight: bold;
}

h1 {
    font-size: 96px;
    line-height: 1.5;
}

h2 {
    font-size: 64px;
}

.hero h2 {
    font-size: 36px;
}

p {
    font-size: 16px;
    font-weight: normal;
    line-height: 30px;
}


.hero {
    background-color: var(--background-color);
    text-align: center;
    padding: 190px 30px;
}

.hero p {
    font-family: var(--defoult-font-family);
    font-weight: bold;
    font-size: 36px;
    margin: 0;
    color: var(--primary-color);
}

.hero h2 {
    font-family: var(--defoult-font-family);
    font-weight: normal;
    font-size: 24px;
    line-height: 2;
    color: var(--primary-color);
}

.btn-branding {
    background-color: var(--branding-color);
    border-radius: 4px;
    text-decoration: none;
    color: white;
    padding: 18px 30px;
    line-height: 27px;
    font-size: 18px;
}

.btn-branding-outline {
    border: 1px solid var(--branding-color);
    border-radius: 4px;
    text-decoration: none;
    color: var(--branding-color);
    padding: 18px 30px;
    line-height: 27px;
    font-size: 18px;
}

.content-container {
    padding: 100px 20px;
}

.content h1 {
    font-size: 64px;
    line-height: 80px;
}

.content h2 {
    font-size: 18px;
    font-family: var(--default-font-family);
}

.content h3 {
    font-size: 24px;
    line-height: 1.5;

    font-family: var(--default-font-family);
}

.content p {
    font-size: 14px;
}

.content {
    margin: 30px;
}

.about-section {
    padding: 100px 20px;
}

.about-section h1 {
    font-size: 64px;
    line-height: 80px;
}

.about-section h2 {
    font-size: 18px;
    font-family: var(--default-font-family);
}

.about-section-content {
    margin: 30px;
}

.project-details {
    padding: 120px 61px;
}

.logo {
    max-height: 40px;
}

nav {
    padding: 20px 0;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    list-style: none;
    line-height: 42px;
    margin-left: 15px;
}

nav a {
    text-decoration: none;
    color: #272142;
    transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
    color: var(--branding-color);
}

@media(max-width:900px) {
    h1 {
        font-size: 45px;
        line-height: 2;
    }

    h2 {
        font-size: 44px;
    }

    .hero {
        padding: 80px 20px;
    }

    .content {
        text-align: center;
        padding: 0;
    }

    .project-details {
        padding: 0;
        text-align: center;
    }
}